include ../mixins/sub-menu.pug

header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src=(settingsGeneral ? settingsGeneral.logo : "/images/logo.png"), alt="Logo")
      .col-5
        form(
          action="/search"
          method="GET"
        ) 
          div(class="form-group d-flex mb-0 input-group")
            input(
              type="text"
              placeholder="Nhập từ khóa..."
              class="form-control"
              name="keyword"
              value=keyword
              required
            )
            .input-group-append
              button(
                type="submit"
                class="btn btn-primary"
              ) Tìm

      .col-4
        .inner-menu
          ul
            li(class="sub-menu")
              a(href="/products") Sản phẩm
              +sub-menu(layoutProductCategory)
            if(user)
              li
                a(href="/cart") Giỏ hàng (#{miniCart ? miniCart.products.length : 0})
              li
                //- a(href="/user/info") #{user.fullName}
                div(class="user__dropdown")
                  img(src=(user.avatar ? user.avatar : "/images/avatar.jpg"))
                  .menu__dropdown
                    h4 #{user.fullName}
                    ul
                      li
                        a(href='/user/info') Profile
                      li
                        a(href='/purchase') Purchase
                      li
                        a(href='/user/change-pass') Change Password
                      li
                        a(href='/user/logout') Log Out
            else
              li
                a(href="/user/login") Đăng nhập
              li
                a(href="/user/register") Đăng ký